<div class="container" id="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        <font size="6">
          Hybrid Object - {{id}} - Editing {{file}}
          <a href="{{backUrl}}" style="color: #ffffff; text-decoration: underline; float: right;">back</a>
        </font></h3>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <div id="editor-container" style="min-height: 900px"></div>
      </div>
      <div class="col-xs-4">
        <iframe id="preview-frame" src="/obj/{{id}}/{{path}}"></iframe>
      </div>
    </div>
  </div>
</div>
<script type="application/javascript">
var path = "/obj/{{id}}/{{path}}";
</script>
<script src="/libraries/monaco-editor/min/vs/loader.js"></script>
<script src="/libraries/js/editor.js"></script>
